ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #3e3f42;
}

li {
float: left;
}

li a {
display: inline-block;
color: #ffffff;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
color:#f44242;
}
li a:active {
background-color: #ce0000;
color: white;
}
a.active{
  background-color: black;
  color: white;
  border-bottom:2px solid red;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

img{
  border-radius: 50%;
}
